In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cayenne,GF,2022-05-09 20:26:45,4.9333,-52.3333,84.24,1,75,11.50
1,1,Nur,PL,2022-05-09 20:31:29,52.6683,22.3221,42.39,67,56,5.53
2,2,Albany,US,2022-05-09 20:31:30,42.6001,-73.9662,73.33,17,0,9.78
3,3,Nemuro,JP,2022-05-09 20:31:31,43.3236,145.5750,44.80,67,42,22.97
4,4,Cerrito,CO,2022-05-09 20:31:32,6.8432,-72.6940,60.55,89,100,0.63

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# Add Zoom and point radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# Use list comprehension to include for loop
# Create dissipation effect
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cayenne,GF,2022-05-09 20:26:45,4.9333,-52.3333,84.24,1,75,11.50
9,9,Hithadhoo,MV,2022-05-09 20:31:34,-0.6000,73.0833,84.52,77,72,21.34
10,10,Kapaa,US,2022-05-09 20:28:51,22.0752,-159.3190,80.58,76,40,18.41
12,12,Rikitea,PF,2022-05-09 20:31:35,-23.1203,-134.9692,76.12,68,14,10.22
26,26,Jamestown,US,2022-05-09 20:30:27,42.0970,-79.2353,75.52,20,0,4.61
31,31,Sao Felix Do Xingu,BR,2022-05-09 20:31:44,-6.6447,-51.9950,80.28,72,53,1.43
33,33,Avarua,CK,2022-05-09 20:31:45,-21.2078,-159.7750,81.34,78,65,13.58
34,34,Dhidhdhoo,MV,2022-05-09 20:31:46,6.8833,73.1000,85.15,72,100,21.47
38,38,Moissala,TD,2022-05-09 20:31:47,8.3404,17.7663,82.89,51,60,4.34
45,45,Isabela,PH,2022-05-09 20:32:53,6.7085,121.9711,80.06,86,100,5.82

In [17]:
# Check if any of the rows are null
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0              Cayenne      GF     84.24   4.9333  -52.3333
9            Hithadhoo      MV     84.52  -0.6000   73.0833
10               Kapaa      US     80.58  22.0752 -159.3190
12             Rikitea      PF     76.12 -23.1203 -134.9692
26           Jamestown      US     75.52  42.0970  -79.2353
31  Sao Felix Do Xingu      BR     80.28  -6.6447  -51.9950
33              Avarua      CK     81.34 -21.2078 -159.7750
34           Dhidhdhoo      MV     85.15   6.8833   73.1000
38            Moissala      TD     82.89   8.3404   17.7663
45             Isabela      PH     80.06   6.7085  121.9711

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cayenne,GF,84.24,4.9333,-52.3333,Hôtel Le Dronmi
9,Hithadhoo,MV,84.52,-0.6000,73.0833,Scoop Guest House
10,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Rikitea,PF,76.12,-23.1203,-134.9692,People ThankYou
26,Jamestown,US,75.52,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
# Add markers
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Create info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""